{
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "trailingComma": "none",
  "useTabs": false
}
